version: "3.9"
services:
    backend:
        build: .
        ports:
            - "8000:80"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        volumes:
            - "./HigherOrLower.API/Database:/app/Database"

    frontend:
        build: ./frontend
        ports:
            - "3000:80"
        depends_on:
            - backend
        environment:
            - VITE_API_URL=http://localhost:8000